<!DOCTYPE html>
<head>
    
</head>
<body>
    <p>You're in a maze and you've come to a dead end. There's a door with 2 buttons.

    It looks like you're supposed to enter your role.</p>

    <form name="alignmentCheck" action="/submit" method="post">
           <input type="radio" id="hero" name="hero" value="hero">
            <label for="hero">Hero</label><br>
      
            <input type="radio" id="villain" name="villain" value="villain">
             <label for="villain">Villain</label><br>
              
              <input type="submit" value="Submit">
           </form>
</body>
</html>